<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WTAIO</title>
    <script type="text/javascript" src="/static/assets/script.js"></script>
  </head>
  <body>
    <h1 id="closest"></h1>
    <pre id="coords"></pre>
  </body>
</html>